.page-list {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.main {
  margin: 32px 0;
}

.page-list__title {
  color: #14233D;
}

.page-list__input {
  width: 100%;
  padding: 16px;
  border: 2px solid #DDE3EB;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  margin: 16px 0;
}

.page-list__button {
  width: 100%;
  border: none;
  background: #297FFF;
  color: #ffffff;
  padding: 12px;
}

.page-list__button:hover {
  opacity: .8;
}

.page-list__amount {
  font-size: 18px;
  color: #14233D;
}

.switcher {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 32px 0;
  max-width: 200px;
  padding: 16px;
  text-align: left;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 40px 80px 0 rgba(0,0,0,.1);
}

.switcher__title {
  margin: 0 auto 16px;
  color: #14233D;
  text-align: center;
}

.switcher__element {
  list-style: none;
  margin: 8px 0;
}

.switcher__element:last-of-type {
  margin: 18px auto 8px;
}

.switcher__link {
  text-decoration: none;
  color: #14233D;
  font-size: 18px;
}

.switcher__btn-link {
  text-decoration: none;
  color: #14233D;
}
