.item {
  padding: 8px 0 12px 0;
  text-align: left;
  font-size: 1.2rem;
}

.item__button-wrapper {
  margin-top: 16px;
  margin-bottom: 8px;
}

.item__button {
  flex-basis: 49%;
}

.item__btn-save {
  background-color: #297FFF;
  color: #fff;
  border: none;

}

.item__btn-save:hover {
  background-color: #444242;
}

.item__btn-save:focus {
  background-color: #fff;
  color: #000;
}

.item__checkbox-wrapper {
  margin: 8px 0;
}

.item__btn-warn {
  background-color: #297FFF;
  border: none;
  color: #fff;
}

.item__btn-warn:hover {
  opacity: .8;
}

.item__input {
  width: 100%;
  padding: 8px;
  border: 2px solid #DDE3EB;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  margin: 16px 0;
}

.item__input:focus {
  outline: none;
  border-color: #297FFF;
}

