<div class="item">
  <input type="checkbox" [(ngModel)]="item.done"/>
  <label [style.text-decoration]="item.done ? 'line-through' : 'none'">{{ item.description }}</label>

  <input
    #editedItem
    [style.display]="onEdit ? 'block' : 'none'"
    class="item__input"
    placeholder="edit item"
    [value]="item.description"
    (keyup.enter)="saveItem(editedItem.value)">

  <div class="item__button-wrapper">
    <button class="button item__button" (click)="onEdit = !onEdit">{{ onEdit ? 'Cancel' : 'Edit' }}</button>
    <button class="button item__button item__btn-save" *ngIf="onEdit" (click)="saveItem(editedItem.value)">Save</button>
    <button class="button item__button item__btn-warn" *ngIf="!onEdit" (click)="remove.emit()">Delete</button>
  </div>
</div>
