<div class="main">
  <div class="list-wrapper">
    <input
      #newList
      placeholder="add new list"
      (keyup.enter)="addList(newList.value); newList.value = ''"
      class="list-text-input"
      id="addListInput"
      type="text">

    <button class="btn-primary" (click)="addList(newList.value); newList.value = ''">Add</button>

    <ul class="main-list">
      <li class="main-list__element" *ngFor="let list of lists"><a href="#" class="main-list__link">{{list.title}}</a></li>
    </ul>
  </div>

  <app-list></app-list>
</div>
