<div class="main">
  <h1 class="main-title">To Do List</h1>

  <input
    #newItem
    placeholder="add an item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="lg-text-input"
    id="addItemInput"
  />

  <button class="btn-primary" (click)="addItem(newItem.value); newItem.value = ''">Add</button>

  <div class="btn-wrapper">
    <button
      class="btn btn-menu"
      [class.active]="filter == 'all'"
      (click)="filter = 'all'">
      All
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'active'"
      (click)="filter = 'active'">
      To Do
    </button>

    <button
      class="btn btn-menu"
      [class.active]="filter == 'done'"
      (click)="filter = 'done'">
      Done
    </button>
  </div>

  <h2 class="items-number">
    {{items.length}}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock>items</ng-template>
  </h2>

  <ul class="list">
    <li class="list-element" *ngFor="let item of items">
      <app-item (remove)="remove(item)" [item]="item"></app-item>
    </li>
  </ul>
</div>
