.main {
  max-width: 500px;
  width: 85%;
  margin: 32px 0;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 40px 80px 0 rgba(0,0,0,.1);
}

.main-title {
  margin: 16px 0;
}

label {
  font-size: 24px;
  font-weight: bold;
  display:block;
  padding-bottom: 16px;
}

.lg-text-input {
  width: 100%;
  padding: 16px;
  border: 2px solid #DDE3EB;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
}

.lg-text-input:focus {
  outline: none;
  border-color: #297FFF;
}

.btn-wrapper {
  margin-bottom: 32px;
}

.btn-menu {
  flex-basis: 32%;
}

.items-number {
  margin: 0;
}

.list {
  margin: 0;
  padding-inline-start: 0;
}

.list-element {
  list-style: none;
}
