body {
  font-family: Helvetica, Arial, sans-serif;
  color: #14233D;
}

.item__button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.button {
  color: #14233D;
  background-color: #fff;
  border: 2px solid #DDE3EB;
  padding: 6px 16px;
  font-size: 16px;
}

.button:hover {
  opacity: .8;
}

.item__button:hover {
  background-color: #F2F4F7;
}

.item__button:focus {
  outline: none;
  border: #297FFF solid 2px;
}

/*.btn-primary {
  color: #fff;
  background-color: #297FFF;
  width: 100%;
  padding: 12px;
  font-size: 20px;
  border: none;
  margin: 16px 0;
}

.btn-primary:hover {
  opacity: .8;
}*/
