body {
  font-family: Helvetica, Arial, sans-serif;
  color: #14233D;
}

.item__button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.button {
  color: #14233D;
  background-color: #fff;
  border: 2px solid #DDE3EB;
  padding: 6px 16px;
  font-size: 16px;
}

.button:hover {
  opacity: .8;
}

.item__button:hover {
  background-color: #F2F4F7;
}

.item__button:focus {
  outline: none;
  border: #297FFF solid 2px;
}

.main {
  margin: 32px auto;
  max-width: 500px;
  width: 85%;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2), 0 40px 80px 0 rgba(0,0,0,.1);
}
